<html>

      </div>
    <head>
        {% if title %}
        <title>{{ title }} - Проектище</title>
        {% else %}
        <title>Проектище</title>
        {% endif %}
    </head>
    <body>
        <div>
            Проектище:
            <a href="{{ url_for('index') }}">Домой</a>
            <a href="{{ url_for('user.login') }}">Логин</a>
            <a href="{{ url_for('database.data') }}">База</a>
            <a href="{{ url_for('load') }}">База</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>