{% extends "base.html" %}

{% block content %}

<h1>Базы данных</h1>

{% for el in companys %}
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">INN</th>
      <th scope="col">NAME</th>
      <th scope="col">PAYER</th>
      <th scope="col">RECIPIENT</th>
    </tr>
  </thead>
<tbody>
  <tr>
    <td>{{ el.inn }}</td>
    <td>{{ el.name }}</td>
    <td>{{ el.payer }}</td>
    <td>{{ el.recipient }}</td>
  </tr>
</tbody> 
</table>


{% endfor %}

{% endblock %}